In [72]:
import requests
APIKEY = '4IEI37PXMEKHFR2I'
url = f'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=IBM&interval=60min&apikey={APIKEY}'
r = requests.get(url)
data = r.json()

print(data)

{'Meta Data': {'1. Information': 'Intraday (60min) open, high, low, close prices and volume', '2. Symbol': 'IBM', '3. Last Refreshed': '2021-07-30 20:00:00', '4. Interval': '60min', '5. Output Size': 'Compact', '6. Time Zone': 'US/Eastern'}, 'Time Series (60min)': {'2021-07-30 20:00:00': {'1. open': '140.9800', '2. high': '140.9800', '3. low': '140.9800', '4. close': '140.9800', '5. volume': '527'}, '2021-07-30 18:00:00': {'1. open': '141.1900', '2. high': '141.1900', '3. low': '141.1900', '4. close': '141.1900', '5. volume': '300'}, '2021-07-30 17:00:00': {'1. open': '140.9600', '2. high': '141.0000', '3. low': '140.9600', '4. close': '141.0000', '5. volume': '92357'}, '2021-07-30 16:00:00': {'1. open': '141.0800', '2. high': '141.2600', '3. low': '140.7900', '4. close': '140.9600', '5. volume': '924999'}, '2021-07-30 15:00:00': {'1. open': '141.2200', '2. high': '141.2500', '3. low': '140.9133', '4. close': '141.0700', '5. volume': '247359'}, '2021-07-30 14:00:00': {'1. open': '141.2100', '2. high': '141.3800', '3. low': '141.1200', '4. close': '141.2200', '5. volume': '169828'}, '2021-07-30 13:00:00': {'1. open': '141.1800', '2. high': '141.3200', '3. low': '141.1000', '4. close': '141.2050', '5. volume': '186205'}, '2021-07-30 12:00:00': {'1. open': '141.2600', '2. high': '141.4600', '3. low': '141.0600', '4. close': '141.2179', '5. volume': '234689'}, '2021-07-30 11:00:00': {'1. open': '141.2600', '2. high': '141.7200', '3. low': '141.0300', '4. close': '141.2500', '5. volume': '319572'}, '2021-07-30 10:00:00': {'1. open': '141.4400', '2. high': '141.8500', '3. low': '141.2500', '4. close': '141.2900', '5. volume': '215586'}, '2021-07-30 09:00:00': {'1. open': '141.5000', '2. high': '141.7000', '3. low': '141.5000', '4. close': '141.7000', '5. volume': '390'}, '2021-07-30 08:00:00': {'1. open': '141.7000', '2. high': '141.9200', '3. low': '141.7000', '4. close': '141.9200', '5. volume': '409'}, '2021-07-30 07:00:00': {'1. open': '141.7700', '2. high': '142.0000', '3. low': '141.7700', '4. close': '142.0000', '5. volume': '429'}, '2021-07-29 20:00:00': {'1. open': '141.8900', '2. high': '141.8900', '3. low': '141.7500', '4. close': '141.7500', '5. volume': '1450'}, '2021-07-29 19:00:00': {'1. open': '141.8900', '2. high': '141.8900', '3. low': '141.8900', '4. close': '141.8900', '5. volume': '395'}, '2021-07-29 18:00:00': {'1. open': '141.7000', '2. high': '141.8900', '3. low': '141.6500', '4. close': '141.8900', '5. volume': '1469'}, '2021-07-29 17:00:00': {'1. open': '141.9300', '2. high': '141.9800', '3. low': '141.5100', '4. close': '141.5100', '5. volume': '71986'}, '2021-07-29 16:00:00': {'1. open': '142.0600', '2. high': '142.1300', '3. low': '141.6000', '4. close': '141.9300', '5. volume': '619471'}, '2021-07-29 15:00:00': {'1. open': '142.2400', '2. high': '142.2500', '3. low': '141.8800', '4. close': '142.0600', '5. volume': '231259'}, '2021-07-29 14:00:00': {'1. open': '142.0200', '2. high': '142.3700', '3. low': '141.8200', '4. close': '142.2300', '5. volume': '347299'}, '2021-07-29 13:00:00': {'1. open': '142.1903', '2. high': '142.2900', '3. low': '141.9700', '4. close': '142.0600', '5. volume': '245740'}, '2021-07-29 12:00:00': {'1. open': '142.3000', '2. high': '142.4300', '3. low': '142.0500', '4. close': '142.2000', '5. volume': '297411'}, '2021-07-29 11:00:00': {'1. open': '142.4550', '2. high': '142.4550', '3. low': '141.9700', '4. close': '142.2950', '5. volume': '261264'}, '2021-07-29 10:00:00': {'1. open': '142.2400', '2. high': '142.9600', '3. low': '142.0339', '4. close': '142.4000', '5. volume': '326348'}, '2021-07-29 09:00:00': {'1. open': '142.0000', '2. high': '142.4000', '3. low': '142.0000', '4. close': '142.0500', '5. volume': '594'}, '2021-07-28 19:00:00': {'1. open': '141.9000', '2. high': '141.9000', '3. low': '141.9000', '4. close': '141.9000', '5. volume': '100'}, '2021-07-28 18:00:00': {'1. open': '141.8600', '2. high': '141.8600', '3. low': '141.7700', '4. close': '141.7700', '5. volume': '831'}, '2021-07-28 17:00:00': {'1. open': '141.7700', '2. high': '142.0000', '3. low': '141.7700', '4. close': '142.0000', '5. volume': '77745'}, '2021-07-28 16:00:00': {'1. open': '142.1300', '2. high': '142.2100', '3. low': '141.6400', '4. close': '141.7800', '5. volume': '606865'}, '2021-07-28 15:00:00': {'1. open': '141.8500', '2. high': '142.2000', '3. low': '141.6400', '4. close': '142.1150', '5. volume': '287465'}, '2021-07-28 14:00:00': {'1. open': '142.0700', '2. high': '142.0700', '3. low': '141.8100', '4. close': '141.8400', '5. volume': '168196'}, '2021-07-28 13:00:00': {'1. open': '142.4200', '2. high': '142.4400', '3. low': '141.9200', '4. close': '142.0900', '5. volume': '155932'}, '2021-07-28 12:00:00': {'1. open': '142.2500', '2. high': '142.7400', '3. low': '141.9500', '4. close': '142.4300', '5. volume': '261561'}, '2021-07-28 11:00:00': {'1. open': '142.4400', '2. high': '142.4600', '3. low': '141.8000', '4. close': '142.2700', '5. volume': '411002'}, '2021-07-28 10:00:00': {'1. open': '142.1653', '2. high': '143.1000', '3. low': '142.1653', '4. close': '142.4600', '5. volume': '290791'}, '2021-07-28 09:00:00': {'1. open': '142.7499', '2. high': '142.9500', '3. low': '142.6100', '4. close': '142.9500', '5. volume': '6265'}, '2021-07-28 08:00:00': {'1. open': '142.6900', '2. high': '142.6900', '3. low': '142.6900', '4. close': '142.6900', '5. volume': '500'}, '2021-07-28 07:00:00': {'1. open': '142.7500', '2. high': '142.7500', '3. low': '142.7500', '4. close': '142.7500', '5. volume': '152'}, '2021-07-27 20:00:00': {'1. open': '142.6200', '2. high': '142.6200', '3. low': '142.6200', '4. close': '142.6200', '5. volume': '150'}, '2021-07-27 19:00:00': {'1. open': '142.6900', '2. high': '142.6900', '3. low': '142.6900', '4. close': '142.6900', '5. volume': '111'}, '2021-07-27 18:00:00': {'1. open': '142.5800', '2. high': '142.6000', '3. low': '142.5800', '4. close': '142.6000', '5. volume': '288'}, '2021-07-27 17:00:00': {'1. open': '142.7500', '2. high': '142.9300', '3. low': '142.5100', '4. close': '142.5100', '5. volume': '70227'}, '2021-07-27 16:00:00': {'1. open': '142.5900', '2. high': '142.9700', '3. low': '142.5100', '4. close': '142.7400', '5. volume': '739453'}, '2021-07-27 15:00:00': {'1. open': '142.3550', '2. high': '142.7500', '3. low': '142.3550', '4. close': '142.5900', '5. volume': '233087'}, '2021-07-27 14:00:00': {'1. open': '142.4500', '2. high': '142.7000', '3. low': '142.1600', '4. close': '142.3700', '5. volume': '289857'}, '2021-07-27 13:00:00': {'1. open': '142.7400', '2. high': '142.7400', '3. low': '142.1200', '4. close': '142.4250', '5. volume': '290272'}, '2021-07-27 12:00:00': {'1. open': '143.5100', '2. high': '143.5100', '3. low': '142.6100', '4. close': '142.7250', '5. volume': '359683'}, '2021-07-27 11:00:00': {'1. open': '142.4100', '2. high': '143.6400', '3. low': '142.3400', '4. close': '143.5200', '5. volume': '561528'}, '2021-07-27 10:00:00': {'1. open': '142.8100', '2. high': '142.8100', '3. low': '141.6000', '4. close': '142.4200', '5. volume': '377338'}, '2021-07-27 09:00:00': {'1. open': '142.0509', '2. high': '142.5900', '3. low': '142.0509', '4. close': '142.5900', '5. volume': '1230'}, '2021-07-27 08:00:00': {'1. open': '142.5700', '2. high': '142.5700', '3. low': '142.5700', '4. close': '142.5700', '5. volume': '529'}, '2021-07-27 06:00:00': {'1. open': '142.0300', '2. high': '142.0300', '3. low': '142.0300', '4. close': '142.0300', '5. volume': '852'}, '2021-07-27 05:00:00': {'1. open': '142.0300', '2. high': '142.0300', '3. low': '142.0300', '4. close': '142.0300', '5. volume': '100'}, '2021-07-26 20:00:00': {'1. open': '142.4500', '2. high': '142.5500', '3. low': '142.4500', '4. close': '142.5500', '5. volume': '1010'}, '2021-07-26 19:00:00': {'1. open': '142.7700', '2. high': '142.7700', '3. low': '142.7700', '4. close': '142.7700', '5. volume': '298'}, '2021-07-26 17:00:00': {'1. open': '142.7700', '2. high': '142.7700', '3. low': '142.7500', '4. close': '142.7500', '5. volume': '790656'}, '2021-07-26 16:00:00': {'1. open': '142.7400', '2. high': '142.8000', '3. low': '142.3600', '4. close': '142.7700', '5. volume': '589659'}, '2021-07-26 15:00:00': {'1. open': '142.6800', '2. high': '142.8400', '3. low': '142.5200', '4. close': '142.7400', '5. volume': '229216'}, '2021-07-26 14:00:00': {'1. open': '142.6300', '2. high': '142.7600', '3. low': '142.4300', '4. close': '142.6600', '5. volume': '204939'}, '2021-07-26 13:00:00': {'1. open': '142.8200', '2. high': '142.8300', '3. low': '142.4501', '4. close': '142.6300', '5. volume': '234402'}, '2021-07-26 12:00:00': {'1. open': '142.3900', '2. high': '143.0000', '3. low': '142.3100', '4. close': '142.8200', '5. volume': '371756'}, '2021-07-26 11:00:00': {'1. open': '142.3400', '2. high': '142.5500', '3. low': '142.0000', '4. close': '142.3800', '5. volume': '416068'}, '2021-07-26 10:00:00': {'1. open': '141.0200', '2. high': '142.9400', '3. low': '141.0200', '4. close': '142.3900', '5. volume': '465442'}, '2021-07-26 09:00:00': {'1. open': '140.4901', '2. high': '141.4600', '3. low': '140.4901', '4. close': '141.0079', '5. volume': '870'}, '2021-07-26 08:00:00': {'1. open': '141.0000', '2. high': '141.0000', '3. low': '141.0000', '4. close': '141.0000', '5. volume': '406'}, '2021-07-23 20:00:00': {'1. open': '141.3000', '2. high': '141.3000', '3. low': '141.3000', '4. close': '141.3000', '5. volume': '700'}, '2021-07-23 18:00:00': {'1. open': '141.3900', '2. high': '141.4500', '3. low': '141.3900', '4. close': '141.4500', '5. volume': '1040'}, '2021-07-23 17:00:00': {'1. open': '141.3400', '2. high': '141.4000', '3. low': '141.1000', '4. close': '141.4000', '5. volume': '50561'}, '2021-07-23 16:00:00': {'1. open': '141.3600', '2. high': '141.5750', '3. low': '141.0300', '4. close': '141.3400', '5. volume': '638837'}, '2021-07-23 15:00:00': {'1. open': '141.3100', '2. high': '141.4300', '3. low': '141.1200', '4. close': '141.3500', '5. volume': '216749'}, '2021-07-23 14:00:00': {'1. open': '141.0700', '2. high': '141.4800', '3. low': '141.0400', '4. close': '141.3100', '5. volume': '253854'}, '2021-07-23 13:00:00': {'1. open': '140.7700', '2. high': '141.1100', '3. low': '140.6200', '4. close': '141.0717', '5. volume': '264154'}, '2021-07-23 12:00:00': {'1. open': '141.0400', '2. high': '141.2600', '3. low': '140.7500', '4. close': '140.7500', '5. volume': '383793'}, '2021-07-23 11:00:00': {'1. open': '140.9200', '2. high': '141.1500', '3. low': '140.3300', '4. close': '141.0200', '5. volume': '423176'}, '2021-07-23 10:00:00': {'1. open': '141.4000', '2. high': '141.7000', '3. low': '140.6200', '4. close': '140.8901', '5. volume': '2095928'}, '2021-07-23 09:00:00': {'1. open': '141.7000', '2. high': '141.7000', '3. low': '141.0300', '4. close': '141.5000', '5. volume': '1589'}, '2021-07-22 20:00:00': {'1. open': '140.9800', '2. high': '140.9800', '3. low': '140.9800', '4. close': '140.9800', '5. volume': '845'}, '2021-07-22 19:00:00': {'1. open': '140.8700', '2. high': '140.8700', '3. low': '140.8700', '4. close': '140.8700', '5. volume': '1100'}, '2021-07-22 18:00:00': {'1. open': '140.8600', '2. high': '140.8600', '3. low': '140.8600', '4. close': '140.8600', '5. volume': '398'}, '2021-07-22 17:00:00': {'1. open': '140.7100', '2. high': '140.8200', '3. low': '140.7100', '4. close': '140.8200', '5. volume': '194763'}, '2021-07-22 16:00:00': {'1. open': '141.1000', '2. high': '141.1100', '3. low': '140.4100', '4. close': '140.7200', '5. volume': '729087'}, '2021-07-22 15:00:00': {'1. open': '141.1400', '2. high': '141.2600', '3. low': '141.0100', '4. close': '141.0800', '5. volume': '243225'}, '2021-07-22 14:00:00': {'1. open': '141.1800', '2. high': '141.3092', '3. low': '140.9900', '4. close': '141.1400', '5. volume': '233339'}, '2021-07-22 13:00:00': {'1. open': '140.9200', '2. high': '141.2900', '3. low': '140.7600', '4. close': '141.1800', '5. volume': '416866'}, '2021-07-22 12:00:00': {'1. open': '140.9100', '2. high': '141.0000', '3. low': '140.6600', '4. close': '140.9150', '5. volume': '332499'}, '2021-07-22 11:00:00': {'1. open': '140.8700', '2. high': '141.1340', '3. low': '140.7300', '4. close': '140.9000', '5. volume': '333863'}, '2021-07-22 10:00:00': {'1. open': '141.2000', '2. high': '141.8100', '3. low': '140.6400', '4. close': '140.8000', '5. volume': '419697'}, '2021-07-22 09:00:00': {'1. open': '141.1000', '2. high': '141.1000', '3. low': '141.1000', '4. close': '141.1000', '5. volume': '223'}, '2021-07-22 08:00:00': {'1. open': '141.0300', '2. high': '141.1500', '3. low': '140.9800', '4. close': '141.1500', '5. volume': '1028'}, '2021-07-21 20:00:00': {'1. open': '141.4000', '2. high': '141.4000', '3. low': '141.3100', '4. close': '141.3100', '5. volume': '1024'}, '2021-07-21 19:00:00': {'1. open': '141.3000', '2. high': '141.3000', '3. low': '141.3000', '4. close': '141.3000', '5. volume': '430'}, '2021-07-21 18:00:00': {'1. open': '141.3000', '2. high': '141.3000', '3. low': '141.3000', '4. close': '141.3000', '5. volume': '540'}, '2021-07-21 17:00:00': {'1. open': '141.3000', '2. high': '141.3000', '3. low': '141.2900', '4. close': '141.2900', '5. volume': '203487'}, '2021-07-21 16:00:00': {'1. open': '141.1300', '2. high': '141.3600', '3. low': '140.8600', '4. close': '141.3000', '5. volume': '855712'}, '2021-07-21 15:00:00': {'1. open': '141.1000', '2. high': '141.3900', '3. low': '141.0100', '4. close': '141.1300', '5. volume': '350051'}, '2021-07-21 14:00:00': {'1. open': '141.1100', '2. high': '141.2900', '3. low': '140.9200', '4. close': '141.0800', '5. volume': '404212'}, '2021-07-21 13:00:00': {'1. open': '141.0450', '2. high': '141.2800', '3. low': '140.9300', '4. close': '141.1100', '5. volume': '333896'}, '2021-07-21 12:00:00': {'1. open': '141.1350', '2. high': '141.2900', '3. low': '140.5700', '4. close': '141.0450', '5. volume': '530997'}, '2021-07-21 11:00:00': {'1. open': '141.0100', '2. high': '141.3300', '3. low': '140.5000', '4. close': '141.1350', '5. volume': '716346'}, '2021-07-21 10:00:00': {'1. open': '140.3500', '2. high': '141.3500', '3. low': '139.6500', '4. close': '141.0103', '5. volume': '756658'}}}

In [73]:
import pandas as pd

data_df =pd.DataFrame.from_dict(data['Time Series (60min)'],orient='index').reset_index()
data_df.columns = ['ddate','open','high','low','close','volume']

In [74]:
data_df['ddate'] = data_df['ddate'].apply(lambda x: datetime.datetime.strptime(x,'%Y-%m-%d %H:%M:%S'))
for col in data_df.columns[1:]:
    data_df[col] = data_df[col].apply(lambda x: float(x))
data_df['created_time'] = datetime.datetime.now()
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ddate   100 non-null    datetime64[ns]
 1   open    100 non-null    float64
 2   high    100 non-null    float64
 3   low     100 non-null    float64
 4   close   100 non-null    float64
 5   volume  100 non-null    float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 4.8 KB

In [84]:
import os
os.listdir()

['.ipynb_checkpoints',
 'alphaVintage_fetch_postgre.py',
 'alphaVintage_postgre.py',
 'testing1.ipynb',
 '__pycache__']

In [76]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ddate         100 non-null    datetime64[ns]
 1   open          100 non-null    float64
 2   high          100 non-null    float64
 3   low           100 non-null    float64
 4   close         100 non-null    float64
 5   volume        100 non-null    float64
 6   created_time  100 non-null    datetime64[ns]
dtypes: datetime64[ns](2), float64(5)
memory usage: 5.6 KB

In [77]:
import psycopg2 as pg
try:
    dbconnect  = pg.connect(
        database = 'airflow',
        user='airflow',password='airflow',
        host='localhost', 
        # Kenapa klo 172.22.0.2 gbsa ya? padahal pgadmin bsa
        port='5432'
    )
except Exception as e:
    print(e)

cursor = dbconnect.cursor()

cursor.execute("""
    CREATE TABLE IF NOT EXISTS sandbox.stock_data_IBM (
        ddate timestamp
        , open float
        , high float
        , low float
        , close float
        , volume float
        , created_time timestamp
    )

""")
dbconnect.commit()

In [78]:
from sqlalchemy import create_engine


param_dic = {'user':'airflow','password':'airflow','host':'localhost','database':'airflow'}
connect = "postgresql+psycopg2://%s:%s@%s:5432/%s" % (
    param_dic['user'],
    param_dic['password'],
    param_dic['host'],
    param_dic['database']
)
def to_alchemy(df):
    """
    Using a dummy table to test this call library
    """
    engine = create_engine(connect)
    df.to_sql(
        'stock_data_ibm', 
        con=engine, 
        schema='sandbox',
        index=False, 
        if_exists='append'
    )
    print("to_sql() done (sqlalchemy)")

In [79]:
to_alchemy(data_df)

to_sql() done (sqlalchemy)

In [60]:
data_df

                 ddate     open    high       low     close    volume
0  2021-07-30 20:00:00  140.980  140.98  140.9800  140.9800     527.0
1  2021-07-30 18:00:00  141.190  141.19  141.1900  141.1900     300.0
2  2021-07-30 17:00:00  140.960  141.00  140.9600  141.0000   92357.0
3  2021-07-30 16:00:00  141.080  141.26  140.7900  140.9600  924999.0
4  2021-07-30 15:00:00  141.220  141.25  140.9133  141.0700  247359.0
..                 ...      ...     ...       ...       ...       ...
95 2021-07-21 14:00:00  141.110  141.29  140.9200  141.0800  404212.0
96 2021-07-21 13:00:00  141.045  141.28  140.9300  141.1100  333896.0
97 2021-07-21 12:00:00  141.135  141.29  140.5700  141.0450  530997.0
98 2021-07-21 11:00:00  141.010  141.33  140.5000  141.1350  716346.0
99 2021-07-21 10:00:00  140.350  141.35  139.6500  141.0103  756658.0

[100 rows x 6 columns]